body {
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #0066cc;
}

button {
    color: white;
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
